In [1]:
import pandas as pd
import numpy as np

What is the import statement?

In [ ]:
import example_functions
example_functions.example_function()

## Numpy
The main focus of Numpy will be on the ndarray. This is a multidimensional container for homogenous data. You can create an ndarray with the array function which turns sequence like objects into ndarrays.

In [11]:
arr1 = np.array([1,2,3]) #Create from a list
arr2 = np.array([[1,2], [3,4]]) #Create multidimensional array

## Pandas
The main focus of Pandas will be on the Series and DataFrame
* Series: Object containing an array of data and an array of labels
* DataFrame: Table of values with rows and columns

### Series
Create using the Series function

In [19]:
ser1 = pd.Series(arr1)
ser2 = pd.Series(arr1, index = ['one', 'two', 'three'])
print(ser1)
print(ser2)
print(ser1.values)
print(ser1.index)

0    1
1    2
2    3
dtype: int64
one      1
two      2
three    3
dtype: int64
[1 2 3]
Int64Index([0, 1, 2], dtype='int64')

In [22]:
type(ser1.values)

numpy.ndarray

### DataFrame
Create using the DataFrame function

In [38]:
#Create from a dictionary
df1 = pd.DataFrame({'Name':['Mike','Joe', 'Bill'], 'Age':[1,2,3], 'Hometown': ['Atlanta', 'NYC', 'LA']})
df2 = pd.DataFrame.from_records(np.array([[1,2,3],[4,5,6]]))

In [40]:
df1

   Age Hometown  Name
0    1  Atlanta  Mike
1    2      NYC   Joe
2    3       LA  Bill

In [43]:
df2

   0  1  2
0  1  2  3
1  4  5  6

In [44]:
df2.columns = ['c1','c2', 'c3']
df2.index = ['r1','r2']
df2

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [29]:
type(df['Age'])

pandas.core.series.Series