# Python

### Useful Libraries

-SciPy: Scientific Computing
-SciKitLearn: Machine Learning
-Statsmodels: Statistics
-Numpy: Data Structures and Analysis
-Pandas: Data Structures and Analysis
-Seaborn: Visualization
-Matplotlib: Visualization
-NLTK: Natural Language ToolKit
-LDA: Latent Dirichlet Allocation
-PyMC: Bayesian Statistical Models
-OpenCV, simpleCV: Computer Vision and Images

# Data Types (Scalar)

The main scalar data types we'll be using in this class are:
str: Think of strings as words or characters. 
float: Think of floats as decimal numbers
boolean: True or False values
int: Integers
None: A special type, NoneType, that we'll see

In [2]:
#the function type takes one argument and returns its type
print type(5)             # int
print type(5.0)           # float
print type('five')        # str
print type(True)          # bool
print type(None)          # None

<type 'int'>
<type 'float'>
<type 'str'>
<type 'bool'>
<type 'NoneType'>

In [3]:
x = 5 #Assigns the variable x to the value 5

#The function isinstance takes two arguments. It returns True if the 
#type of the first argument is the same as the second argument
print isinstance(x, int)
print isinstance(x, str)
type(x)

True
False

int

In [5]:
#Operations +,-,/,//,*,**
print 1+1 #Addition
print 2-1 #Subtraction
print 2/3#Division. In Python 2.x this is integer division
print 2.0/3 #To get a fractional value convert one of the numbers to a float
print 2%3 #Modular arithmetic
print 2*2 #Multiplication
print 2**3 #Powers

2
1
0
0.666666666667
2
4
8

In [6]:
#If using python 2.x importing division from the future allows for 
#floating division
from __future__ import division
print(2/3)

0.666666666667
0

# Data Structures
Lists, Dictionaries

### Lists

In [23]:
#creating a list
lst = [1,2,3] #Initialize a list with brackets []
lst2 = range(5) #The function range(n) returns a list with the 
#values 0 to n-1

In [24]:
#adding to a list
lst.append(4) #.append(value) appends value to the end of the list
print(lst)
print(lst + [4]) #Adding two lists returns a list with the elements from both lists
print(lst+lst2)

[1, 2, 3, 4]
[1, 2, 3, 4, 4]
[1, 2, 3, 4, 0, 1, 2, 3, 4]

In [25]:
#list indexing

#To index, access the elements of the list use brackets with the position 
#of the element you want to access
print('Full list: {}'.format(lst)) 
print('first element: {}'.format(lst[0])) #the first element starts at position 0
print('second element: {}'.format(lst[1])) #the second element starts at position 1

#using negatives allows you to access the elements from the end starting at -1
print('second element: {}'.format(lst[-1])) #-1 grabs the last element of the list

# i:j allows you to grab a slice of the list from position i to position j-1
print('slice from 1 to 2: {}'.format(lst[1:3]))#elements 1 to 2  (1 to 3-1)


lst.insert(1,7) #insert 7 at position 1
print(lst)

Full list: [1, 2, 3, 4]
first element: 1
second element: 2
second element: 4
slice from 1 to 2: [2, 3]
[1, 7, 2, 3, 4]

In [16]:
print(len(lst)) #len function returns the length of the list
print(type(lst)) #A list is of type list
isinstance(lst, list) #Checking if lst is of type list

9
<type 'list'>

True

In [26]:
print(sum(lst)) #the function sum adds all the elements of the list

print(lst)
sorted(lst) #the function sorted returns a sorted list
print(lst)
lst.sort() # The method .sort() sorts the list in place
print(lst)

17
[1, 7, 2, 3, 4]
[1, 7, 2, 3, 4]
[1, 2, 3, 4, 7]

In [29]:
#The function zip takes two lists and returns a list of tuples where the 
#tuples are made up of the positional elements of both lists
print(zip([1,2,3],[4,5,6]) )

#The map function takes a function as the first argument and a list as the
#second. it returns a list where the inputted funtion has been applied to 
#every element of the list
print(map(abs, [-1,-2,3])) # apply abs, absolute value, to each element of [-1,-2,-3]

lst.remove(2)#removes the first 2 found
lst.extend(lst2)#extend appends the values of the second list to the first list

[(1, 4), (2, 5), (3, 6)]
[1, 2, 3]
[1, 3, 4, 7, 0, 1, 3, 4, 2, 2, 0, 1, 2, 3, 4, 2, 2]
[1, 3, 4, 7, 0, 1, 3, 4, 2, 0, 1, 2, 3, 4, 2, 2]

### Dictionaries

In [31]:
#Think of a dictionary as a bunch of key, value pairs. Where you can look  
#up the value for a particular key

#Creating a dictionary
#Dictionaries are created with curly brackets {}
#The key and corresponding value are seperated by :
#Key value pairs are seperated by a comma
dict1 =  {'one':1, 'two':2, 'three':3}
dict2 = {'four':4, 'five':5}

In [33]:
print(dict1.keys())#The method .keys() returns a list of the keys of a dictionary
print(dict1.values())#The method .values() returns a list of the values of a dictionary
print(dict1)

['three', 'two', 'one']
[3, 2, 1]
{'three': 3, 'two': 2, 'one': 1}

In [56]:
#use square brackets with the key to look up the corresponding value
print(dict1['one']) #prints the returned value for key 'one'

1

In [34]:
#the keyword in allows you to check if a key is in a dictionary
print 'one' in dict1 #'one' is a key in the dictionary
print 1 in dict1 #1 is not a key in the dictionary. It's a value

True
False

In [310]:
#You can add a new key value pair to a dictionary by assigning the dictionary
#with brackets and the key to the value using =

dict1['Mike'] = [1] #assigning the key 'Mike' to the value [1]

dict1['Mike'].append(2) #accesing the value for the key Mike, which is a list,
#and then appending 2 to the value

# Control Flows

In [330]:
#If statements control the flow via boolean types

#The first if statement checks a boolean value. 
#If it's True the values below it are executed and all other elif, else statements are skipped
#If it's False then the code below it is skipped and the next elif statement
#is checked. 
#This continues until a True statement has been found. 
#If no True statement is found then the code in the else statement is executed

a = False
b = False
if a: #check if a is True
    print 'a' #If a is true print a
elif b: #if a is False check if b is true
    print 'b' #if a is False and b is True print b
else: #If a and b are both False
    print 'c' #print c

c

In [332]:
x = 1 #set x to an integer
if x > 4: #check if x is bigger than 4
    print('big') #if True print 'big'
else:
    print('small') #Otherwise, print 'small'

small

In [337]:
#the pass keyword acts as a placeholder when you don't have any code to 
#execute in an if, else statement
if True:
    #to do
    pass
else:
    print('not true')

In [338]:
#Ternary operator, expression
#combine if-else statements into a single line or expression
#true-exp if condition else false-expr
'True' if True else 'False'
['True' if i else 'False' for i in [True, False]]

['True', 'False']

# For Loops

In [339]:
#for loop allows you to iterate over an iterable object, like a list, and perform
#some operations

for i in range(5): #for each value in range(5) (the variable i is assigned that value)
    print i #print i

0
1
2
3
4

In [35]:
#You can add if statements in your for loops
lst = []
for i in range(8): #assign i to each value in range(8)
    if i%2 == 0: #check if i is even
        lst.append(i) #if i is even append it to the list
        continue #the continue keyword breaks you out of a loop. 
    print i #print i

1
3
5
7

# While Loops

In [36]:
#while loops are similar to for loops but they check a boolean and keep 
#executing until the boolean is False
#when using while loops be careful to have a breaking condition otherwise
#you'll get stuck in an infinite loop

i = 0 
while i < 5:
    print i
    i += 1
    if i == 4:
        break

0
1
2
3

# List and Dictionary Comprehension

In [40]:
#List and dictionary comprehension allow you to easily create lists and 
#dictionaries in a single line using loops within [] or {}

print([i for i in range(5)]) #create a list by iterating over range(5) 

#adding an if statement controls what elements are added to the list.
print([i for i in range(5) if i < 3]) #Only add elements < 3 to the list
print([i  for i in range(8) if i%2 == 0]) #only add even numbers to the list

print({i:j for i, j in zip(['one', 'two', 'three'], [1,2,3])})
#First creates a list of tuples from the two lists
#Second: iterates over the tuple assining i to the first value and j to the second
#Third creats a key, value pair from variables i, j in the dictionary

[0, 1, 2, 3, 4]
[0, 1, 2]
[0, 2, 4, 6]
{'three': 3, 'two': 2, 'one': 1}

# Exercises

1. Create a dictionary, ex_dict, where the keys are names and values are integers
    keys: 'mike', 'john', 'bob' values: 1,2,3
2. Create a list of the names in ex_dict where every character is upper case
name.upper()
3. what is the average of the values in the dictionary?
4. add a new key/values to the dictionary. amy and 4
5. Create a list of the numbers from -20 to 20
6. Using the existing list create a  new list made up of the absolute values of the previous list and then sort
7. create two new lists (one the lowest five elements and another the highest 5 elements)8. write a for loop that prints the numbers from 0 to 20
9. modify the for loop so that it only prints even numbers
10. create a list that is made up of the numbers from -10 to 10
11. Using both list comprehension and the map function create the same list made up of absolute values
12. make a list from the previous list that's made up of the words 'even', 'odd' depending on if the element is even or odd
13. using the previous list make all even elements upper case and all odd elements lower case
14. using list comprehensions and the previous list construct a new lists of the even elements

# Solutions

In [42]:
#1. Create a dictionary, ex_dict, where the keys are names and values are integers
#    keys: 'mike', 'john', 'bob' values: 1,2,3
ex_dict = {'mike':1, 'john':2, 'bob':3}

In [45]:
#2. Create a list of the names in ex_dict where every character is upper case
#name.upper()
[i.upper() for i in ex_dict.keys()]

['MIKE', 'JOHN', 'BOB']

In [48]:
#3. what is the average of the values in the dictionary?
1.0*sum(ex_dict.values())/len(ex_dict.values())

2.0

In [49]:
#4. add a new key/values to the dictionary. amy and 4
ex_dict['amy'] = 4

In [52]:
#5. Create a list of the numbers from -20 to 20
lst = range(-20, 21)

In [55]:
#6. Using the existing list create a  new list made up of the absolute values of the previous list and then sort
abs_lst1 = sorted(map(abs, lst))
#or 
abs_lst2 = [abs(i) for i in lst]

In [57]:
#7. create two new lists (one the lowest five elements and another the highest 5 elements)
print(abs_lst1[:5])
print(abs_lst1[-5:])

[0, 1, 1, 2, 2]
[18, 19, 19, 20, 20]

In [70]:
#8. write a for loop that prints the numbers from 0 to 20
for i in range(21):
    print(i)

In [60]:
#9. modify the for loop so that it only prints even numbers
for i in range(21):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [61]:
#10. create a list that is made up of the numbers from -10 to 10
lst_10 = range(-10, 10)

In [62]:
#11. Using both list comprehension and the map function create the same list made up of absolute values
abs_lst1 = sorted(map(abs, lst_10))
#or 
abs_lst2 = [abs(i) for i in lst_10]

In [65]:
#12. make a list from the previous list that's made up of the words 'even', 'odd' depending on if the element is even or odd

#use a ternary if statement in a list comprehension
even_odd = ['even' if i%2==0 else 'odd' for i in abs_lst1]

In [68]:
#13. using the previous list make all even elements upper case and all odd elements lower case
EVEN_odd = [s.upper() if s == 'even' else s for s in even_odd]

In [67]:
#14. using list comprehensions and the previous list construct a new lists of the even elements
[i for i in abs_lst1 if i%2==0]

[0, 2, 2, 4, 4, 6, 6, 8, 8, 10]

# Functions

In [360]:
def print_hello():
    print 'hello'

def print_name(name):
    print name
    
def add_numbers(x,y):
    return(x+y)

def print_name(name='Mike'):
    print name

In [71]:
#When passing objects as arguments to a function, you are passing a reference; no copying occurs
#Pass by reference
#Doesn't work for ints, integers are immutable
def add(x,a):
    x[0] += 1
    a += 1
x = [1]
a = 1
add(x,a)
print(x)
print(a)

[2]
1

In [72]:
func = lambda x: x+2
func(2)
#Can use in map or as the key to sort

4

# Exercises

15: Write a function that takes a name as input and prints "Hello, my name is (name)"
16. Write a function that takes two lists and returns a new sorted list that is made up of all the elements in both lists
17. Modify the first function so that it prints your name unless another name is inputted (try using with and without an input)
18. create a function that takes two arrays of integers as input and the output is a list of the square root of the sum of their squares

## Solutions

In [76]:
#15: Write a function that takes a name as input and prints "Hello, my name is (name)"
def print_name(name):
    print('Hello, my name is {}'.format(name))
#16. Write a function that takes two lists and returns a new sorted list that is made up of all the elements in both lists
def list_combine_sort(l1, l2):
    return(sorted(l1 + l2))
#17. Modify the first function so that it prints your name unless another name is inputted (try using with and without an input)
def print_name(name='mike'):
    print('Hello, my name is {}'.format(name) )    
#18. create a function that takes two arrays of integers as input and the output is a list of the square root of the sum of their squares 
def sum_square(x,y):
    import math
    return(map(lambda z: math.sqrt(z[0]**2+z[1]**2), zip(x,y)))

# Objects and Classes

In [70]:
#Objects have attributes and methods
    #Attribute: Other objects inside obejct
    #Method: Functions inside object
    
class example_class():
    def __init__(self, n, v):
        self.name = n
        self.value = v
    def print_name(self):
        print self.name
    def change_name(self,n):
        self.name = n

ex = example('mike', 33)

In [74]:
print(ex.name)
print(ex.value)
ex.print_name()
ex.change_name('John')
print(ex.name)
type(ex)

John
33
John
John

instance

# Exercises

19. What two things to objects have?
20. describe the class below an what it does.
21. add to the class
	-method set_age that sets the age
	-attribute job 
	-method change job that changes job attribute to new inputted job
22. create an object for yourself. Add degree. Change your job. Have a birthday or two

In [133]:
class example_class():
    def __init__(self, n = None, a = None, degrees = []):
        self.name = n
        self.age = a
        self.education = degrees
    def add_education(self, deg):
        self.education.append(deg)
    def birthday(self):
        try: 
            self.age += 1
        except: 
            print 'current invalid age'